h1 {
    color: white;
}


.home {
    background-image: url(../songs-logo/capstone.png);
    background-size: 150px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 26%;
    margin: 0;
    text-align: center;
}

.news_preferences {
    background-color: rgb(53, 129, 5);
    display: inline-table;
    padding: 20px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.generate_button {
    background-color: #fa8072;
    padding: 16px;
    border-radius: 12px;
    color: white;
}

.generate_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #4CAF50;
}

.date {
    background-color: #4CAF50;
}

label {
    color: white;
}

.change_2_info:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button+button {

    margin-left: 30px;
}

.buttons {
    display: inline-flex;
}

.change_2_info {
    width: 25px;
}